{% extends "baseWithOutAuth.html" %}

{% block title %}Login{% endblock %}

{% block content %}


<div class="d-flex justify-content-center">
    Reset password: (verifing code was send to your emial)
</div>


<div class="d-flex justify-content-center">
    <form style="margin-top: 20px;" action="/resetPassword" method="POST">
        <input value="{{user}}" readonly type="text" name="username">
        <input placeholder="type password" value="" required type="password" name="password">
        <input placeholder="retype password" value="" required type="password" name="password2">
        <input placeholder="type verifing code" value="" required type="text" name="code">
        </br></br><input class="btn btn-outline-info" type="submit" value="Change password">
    </form>
</div>

<div style="margin-top: 200px;">
    <div class="d-flex justify-content-center">
    </br></br>Cancel operation:
    <button style="margin-left: 20px;" class="btn btn-outline-secondary"><a style="text-decoration: none;"
        href="{{ url_for('login')}}">Cancel</a></button>
    </div>
</div>

{% endblock %}